:root {
  --color-primary: #770f0f;
  --color-secondary: #dbead5;
  --black: #111;
  --white: #fefefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next', 'Roboto sans', Avenir, Arial, Helvetica,
    sans-serif;
}

html,
body {
  min-height: 100vh;
  font-size: 100%;
  color: var(--black);
}

body {
  display: grid;
  grid-template-rows: minmax(30%, max-content) 5rem 1fr auto;
  grid-template-areas: 'header' 'cta' 'content' 'footer';
  background-color: var(--color-secondary);

  --section-padding: 2rem;
}

@media screen and (min-width: 700px) {
  body {
    --section-padding: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    grid-template-areas: 'header cta content';
    grid-template-rows: 100%;
    grid-template-columns: 45vw 10vw 45vw;
  }
}

body > header {
  padding: var(--section-padding);
  background-color: var(--color-primary);
  color: var(--white);
  grid-area: header;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  body > header {
    font-size: 2.2rem;
  }
}

body > main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding);
  background-color: var(--color-secondary);
  color: var(--black);
  font-size: 1.2rem;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body > footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: calc(var(--section-padding) / 3) var(--section-padding);
}

@media screen and (min-width: 1024px) {
  body > footer {
    grid-area: content;
    align-self: end;
    justify-self: end;
  }
}

.divider--diagonal::before {
  content: '';

  display: block;
  height: 100%;
  background-color: var(--color-primary);
  -webkit-clip-path: polygon(-1% -1%, 101% -1%, 101% -1%, -1% 101%);
  clip-path: polygon(-1% -1%, 101% -1%, 101% -1%, -1% 101%);
}

.divider--diagonal {
  grid-area: cta;
  background-color: var(--color-secondary);
}

.cta-button--contact {
  grid-area: cta;
  align-self: center;
  justify-self: center;
  display: block;
  z-index: 9;
  width: auto;
  margin: 3vh calc(var(--section-padding) - 1rem);
  padding: 0.7rem 3rem;
  background-color: var(--color-primary);
  border: 0.5rem solid var(--color-secondary);
  border-radius: 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
}

.cta-button--contact:hover,
.cta-button--contact:focus {
  border-color: var(--white);
  border-width: 0.7rem;
  transition: border-width 0.3s ease-out;
}

@media screen and (min-width: 1024px) {
  .cta-button--contact {
    width: 33vw;
    max-width: 33ch;

    transform: translateY(33vh);
  }
}

header h1 {
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
}

header h2:first-of-type {
  font-size: 1.98em;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.1ch;
  margin-bottom: 1rem;
  letter-spacing: 6px;
  white-space: nowrap;
  text-align: center;
}

h2.subline {
  font-weight: 400;
  font-size: 1.1rem;
  display: none;
}

@media screen and (min-width: 700px) {
  h1 {
    text-align-last: left;
  }
  
  header h2:first-child {
    text-align: left;
    letter-spacing: 6px;
  }

  header h2 > span:first-child {
    letter-spacing: 10.4px;
  }

  header h2.subline {
    display: block;
  }
}

.content {
  max-width: 45ch;
}

.content p + p {
  margin-top: 0.7rem;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--color-primary);
  white-space: nowrap;
}

a:not(.cta-button--contact):before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transition: all 0.2s ease-out;
}

a:not(.cta-button--contact):hover:before {
  height: 0.2em;
}

footer a {
  display: inline;
  margin: 0.3rem;
  font-size: 0.7rem;
}
